.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-gap: 2rem;


  .pager {
    grid-column: 1/-1;
  }

  .views-row {
    display: grid;

    img {
      width: 100%;
      height: 100%;
    }
  }

}
