.layout-container {
  margin: 0 3rem;
}

#block-movies-page-title h1{
  font-weight: lighter;
}

form {
  select, input {
    color: #000;
    border-radius: .3rem;
    padding: .2rem .8rem;
  }
  input[type="submit"]:hover {
    background-color: #fff;
  }
}

.pager {
  ul {
    font-size: 1.5rem;
    li {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
